body {
    background-color: lightgrey;
    padding-top: 10%;
}

.main{
    padding: 1% 10% 1% 10%;
    display: flex;
    justify-content: space-around;
}

.signupBox{
    display: inline-block;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    text-align: center;
}

.main img {
    display: inline-block;
    width: 33%;
    height: 25%;
}

.top img{
    display: block;
    margin: auto;
    width: 43%;
    height: 25%;
}

.top input {
    display: block;
    height: 25px;
    width: 60%;
    margin: auto;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.top {
    display: block;
}


.top button{
    background-color: orchid;
    border: none;
    color: mediumslateblue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    
}

.bottom {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: slateblue;
}


.container {
    color: rgb(211, 0, 0);
    
}